* {
  box-sizing: border-box;
}

body {
  font-family: Montserrat, sans-serif;
  color: #2e2f42;
  background-color: aquamarine;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.64px;
}

button {
  display: block;
  cursor: pointer;
  font-family: inherit;
}

ul {
  list-style-type: none;
  margin: 0;
  padding-left: 0;
}

img {
  display: block;
  width: 100%;
  max-width: 100%;
  height: auto;
  object-fit: cover;
}

.js-form {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 36px;
  gap: 8px;
}

.input-search {
  width: 272px;
  height: 40px;
  border-radius: 4px;
  border: 1px solid #808080;
  padding: 8px 16px;
  color: #808080;
}

.input-search:hover {
  border: 1px solid #000;
}

.input-search:active {
  border: 1px solid #4e75ff;
}

.btn-search {
  display: block;
  padding: 8px 16px;
  border: none;
  border-radius: 8px;
  background-color: #4e75ff;
  color: #fff;
  line-height: 1.5;
  font-weight: 500;
}

.btn-search:hover,
.btn-search:focus {
  background-color: #6c8cff;
}

.loader {
  transform: rotateZ(45deg);
  perspective: 1000px;
  border-radius: 50%;
  width: 48px;
  height: 48px;
  color: #fff;
}
.loader:before,
.loader:after {
  content: '';
  display: block;
  position: absolute;
  top: 100px;
  left: 50%;
  width: inherit;
  height: inherit;
  border-radius: 50%;
  transform: rotateX(70deg);
  animation: 1s spin linear infinite;
}
.loader:after {
  color: #ff3d00;
  transform: rotateY(70deg);
  animation-delay: 0.4s;
}

@keyframes rotate {
  0% {
    transform: translate(-50%, -50%) rotateZ(0deg);
  }
  100% {
    transform: translate(-50%, -50%) rotateZ(360deg);
  }
}

@keyframes rotateccw {
  0% {
    transform: translate(-50%, -50%) rotate(0deg);
  }
  100% {
    transform: translate(-50%, -50%) rotate(-360deg);
  }
}

@keyframes spin {
  0%,
  100% {
    box-shadow: 0.2em 0px 0 0px currentcolor;
  }
  12% {
    box-shadow: 0.2em 0.2em 0 0 currentcolor;
  }
  25% {
    box-shadow: 0 0.2em 0 0px currentcolor;
  }
  37% {
    box-shadow: -0.2em 0.2em 0 0 currentcolor;
  }
  50% {
    box-shadow: -0.2em 0 0 0 currentcolor;
  }
  62% {
    box-shadow: -0.2em -0.2em 0 0 currentcolor;
  }
  75% {
    box-shadow: 0px -0.2em 0 0 currentcolor;
  }
  87% {
    box-shadow: 0.2em -0.2em 0 0 currentcolor;
  }
}

.hidden {
  display: none;
}

.markup {
  display: flex;
  justify-content: center;

  flex-wrap: wrap;
  gap: 24px;
}

.gallery-item {
  border-radius: 4px;
  border: 1px solid #808080;
  overflow: hidden;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  transition: all 0.4s;
}

.gallery-item:hover {
  transform: scale(1.06);
}

.gallery-image {
  width: 360px;
  height: 152px;
}

.image-desc {
  display: flex;
  justify-content: space-around;
  border-right: 1px solid #808080;
  border-bottom: 1px solid #808080;
  border-left: 1px solid #808080;
  background-color: #fff;
}

.image-desc-title {
  margin: 4px 0 0;
  font-size: 12px;
  font-weight: 600;
  line-height: 1.33;
  letter-spacing: 0.48px;
}

.image-desc-text {
  margin: 0 0 4px;
  text-align: center;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 200% */
  letter-spacing: 0.48px;
}

.btn-load {
  display: block;
  padding: 8px 16px;
  margin: 0 auto;
  margin-top: 12px;
  border: none;
  border-radius: 8px;
  background-color: #4e75ff;
  color: #fff;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.64px;
}

.btn-load:hover {
  background-color: #6c8cff;
}

.btn-load.hidden {
  display: none;
}
